body{
    background-color:#98989B;
    margin: 0;
    font-family: 'Share Tech', sans-serif;
}
header{
    background-color: red;
    text-align: center;
    padding: 30px;
}
header h1, h2{
    color: white;
}
header img{
    border-radius: 10px;
    border: 5px solid white;
}
img{
    background-color: grey;
}
header h1{
    font-size: 50px;
    padding-bottom: 5px;
    margin: 0;
}
header h2{
    font-size: 30px;
    padding-top: 5px;
    margin: 0;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 25px;
    color:white;
    font-size: 20px;
    padding-bottom: 25px;
}
main h2{
    font-size: 25px;
    margin-top: 40px;
}
main p{
    padding-bottom: 10px;
}
img{
    max-width: 100%;
    border: 5px solid white;
}
ol{
    font-size:20px;
}
a{
    color: red;
}
a:hover{
    color: white;
    background-color: red;
}
.link{
    align-self:center;
}
footer{
    background-color: black;
    padding: 50px;
    color:white;
    text-align: center;
}
p{
    margin: 0;
    margin-top: 1px;
}